  <div class="modal-header">
   <button type="button" class="close" aria-hidden="true" data-ng-click="modalOptions.close()">&times;</button>
   <h3>{{modalOptions.headerText}}</h3>
 </div>
 <div class="modal-body center_div centered " align="center">
  	<h4>{{modalOptions.bodyText}}</h4>
 </div>
 <div class="modal-footer">
	  <button type="button" class="btn" 
	          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
	  <button class="btn btn-primary" 
	          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
 </div>
