
 <div class="modal-header">
   <button type="button" class="close" aria-hidden="true" data-ng-click="modalOptions.close()">&times;</button>
   <h3>{{modalOptions.headerText}}</h3>
 </div>
 <div class="modal-body center_div centered " align="center">
	
	   <div ng-controller="LoginByUsernameAndPasswordController">
		   <form name="loginForm">
			    <h4>Log in to your Cloustreet Market account</h4>
			   <input type="text" name="id" ng-model="form.id" placeholder="Username">
			    <br/>
			   <input type="password" name="password" ng-model="form.password" placeholder="Password">
			   <button class="btn btn-success" ng-click="login()">Sign in</button>
			</form>
	   </div>
	   
 </div>
 <div class="modal-footer">
 	<a href="">forgot password ?</a>&nbsp;<a href="" ng-click="modalOptions.reloadFor('must_register')">No, create a new account</a>
 </div>
