<!-- start: Row -->
<div class="row" ng-controller="homeMainController">
	<div class="span12">
		<div class="hero-unit hidden-phone">
			<p translate="screen.home.hero">Welcome to CloudStreet Market, the educational platform.</p>
		</div>
	</div>
	<div class="span5">

		<div id="landingGraphContainerAndTools">
				<div class="center_chart">
					<img id="homeChart"/>
				</div>
				<div ng-controller="homeFinancialGraphController">
					<select class="form-control centeredElementBox">
					    <option ng-repeat="value in indicesForGraph"
					    		ng-selected="{{value.id == currentIndex}}"
					            value="{{value.id}}">
					      {{value.name}}
					    </option>
					</select>
				</div>

				<div id='tableMarketPrices'>		
					<div>
						<table class="table table-hover table-condensed table-bordered table-striped" ng-controller="homeFinancialTableController">
							<thead>
								<tr>
									<th translate="screen.home.table.market.price.index">Index</th>
									<th translate="screen.home.table.market.price.value">Value</th>
									<th translate="screen.home.table.market.price.change">Change</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="value in indicesForTable">
									<td><a href="/portal/index-{{value.id}}"><b>{{value.name}}</b></a></td>
									<td style="text-align:right">{{value.dailyLatestValue}}</td>
									<td class='{{value.style}}' style="text-align:right"><strong>{{value.dailyLatestChangePercent > 0 ? '+' : ''}}{{value.dailyLatestChangePercent}}%</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
		</div>
	</div>
	<div class="span7">
		<div id="divRss3">
			<ul class="feedEkList" ng-controller='homeCommunityActivityController'>
				  <li data-ng-repeat="value in communityActivities | orderObjectBy:'id':true">
						<div class="itemTitle">
							<div ng-class="(!value.urlProfilePicture) ? 'listUserIco ico-user': 'listUserIcoNonBG'">
								<img ng-if="value.urlProfilePicture" style="position: relative;top: 50%;transform: translateY(-50%);" ng-src='{{value.urlProfileMiniPicture}}' >
							</div>
							<div ng-if="(value.userAction.type =='REGISTER')">
								<span class="ico-white listActionIco actionRegister"></span>
								<a href="/portal/user-{{value.userName}}">{{value.userName}}</a>
								{{value.userAction.presentTense | translate}} <span translate="screen.home.feed.action.a.new.account">a new account</span>
								<p class="itemDate">{{value.date}} 
								
									<span ng-if="userAuthenticated() && value.amountOfLikes > 0">
										<img ng-if="value.amountOfLikes > 1 || (value.amountOfLikes == 1 && !value.userHasLiked)" src="img/icon-finder/1441188631_4_like.png"
									    	ng-class="(value.userHasLiked) ? 'like-img like-img-liked': 'like-img'"
									    	ng-click="(value.userHasLiked) ? unLike(value): like(value.id)"
									    	alt="like"/>
									    	
										<img ng-if="value.amountOfLikes == 1 && value.userHasLiked" ng-src="{{image}}"
									    	ng-class="'like-img like-img-liked'"
										    ng-mouseover="image='img/icon-finder/1441189591_1_like.png'"
										    ng-mouseleave="image='img/icon-finder/1441188631_4_like.png'"
										    ng-init="image = 'img/icon-finder/1441188631_4_like.png'"
									    	ng-click="unLike(value)"
									    	alt="unlike"/> ({{value.amountOfLikes}})
									</span>
									
									<span ng-if="userAuthenticated() && value.amountOfLikes == 0">
										<img ng-src="{{image}}"
										    	class="like-img" 
										    	ng-init="image = 'img/icon-finder/1441189591_1_like.png'"
										    	ng-mouseover="image='img/icon-finder/1441188631_4_like.png'"
										    	ng-mouseleave="image='img/icon-finder/1441189591_1_like.png'"
										    	ng-click="like(value.id)"/>
									</span>
								</p>
							</div>
							<div ng-if="value.userAction.type =='BUY' || value.userAction.type =='SELL'">
								<span class="ico-white listActionIco" ng-class="(value.userAction.type =='BUY') ? 'ico-up-arrow actionBuy': 'ico-down-arrow actionSell'"></span>
								<a href="/portal/user-{{value.userName}}">{{value.userName}}</a> 
								{{value.userAction.presentTense | translate}} {{value.amount}} 
								<a href="/portal/stock-{{value.valueShortId}}">{{value.valueShortId}}</a> <span translate="screen.home.feed.action.at">at</span> <i class="fa fa-{{value.currency | lowercase}}"></i><b>{{value.price | number:2}}</b> ({{value.currency | uppercase}})
								<p class="itemDate">{{value.date}} 
									<span ng-if="userAuthenticated() && value.amountOfLikes > 0">
									
										<img ng-if="value.amountOfLikes > 1 || (value.amountOfLikes == 1 && !value.userHasLiked)" src="img/icon-finder/1441188631_4_like.png"
									    	ng-class="(value.userHasLiked) ? 'like-img like-img-liked': 'like-img'"
									    	ng-click="(value.userHasLiked) ? unLike(value): like(value.id)"
									    	alt="like"/>
									    	
										<img ng-if="value.amountOfLikes == 1 && value.userHasLiked" ng-src="{{image}}"
									    	ng-class="'like-img like-img-liked'"
										    ng-mouseover="image='img/icon-finder/1441189591_1_like.png'"
										    ng-mouseleave="image='img/icon-finder/1441188631_4_like.png'"
										    ng-init="image = 'img/icon-finder/1441188631_4_like.png'"
										    alt="unlike"
									    	ng-click="unLike(value)"/> ({{value.amountOfLikes}})
									</span>
									
									<span ng-if="userAuthenticated() && value.amountOfLikes == 0">
										<img ng-src="{{image}}"
										    	class="like-img" ng-init="image = 'img/icon-finder/1441189591_1_like.png'"
										    	ng-mouseover="image='img/icon-finder/1441188631_4_like.png'"
										    	ng-mouseleave="image='img/icon-finder/1441189591_1_like.png'"
										    	ng-click="like(value.id)"
										    	alt="like"/>
									</span>
								</p>
							</div>
						</div>
				  </li>
			</ul>
		</div>
	</div>

</div>
<!-- end: Row -->
   		
