<!-- start: Row -->
<div class="row" ng-controller="homeMainController">
	<div class="span12">
		<div class="hero-unit hidden-phone">
			<p>Welcome to CloudStreet Market, the educational platform.</p>
		</div>
	</div>
	<div class="span5">

		<div id="landingGraphContainerAndTools">
				<div id='landingGraphContainer' ng-controller="homeFinancialGraphController">
					<select class="form-control centeredElementBox">
					    <option ng-repeat="value in indicesForGraph"
					    		ng-selected="{{value.index.id == currentIndex}}"
					            value="{{value.index.id}}">
					      {{idx.index.name}}
					    </option>
					</select>
				</div>

				<div id='tableMarketPrices'>		
					<div>
						<table class="table table-hover table-condensed table-bordered table-striped" data-ng-controller='homeFinancialTableController'>
							<thead>
								<tr>
									<th>Index</th>
									<th>Value</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="value in indicesForTable">
									<td>{{value.index.name}}</td>
									<td style="text-align:right">{{value.index.dailyLatestValue}}</td>
									<td class='{{value.style}}' style="text-align:right"><strong>{{value.index.dailyLatestChangePercent}}%</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
		</div>
	</div>
	<div class="span7">

		<div id="divRss3">
			<ul class="feedEkList" data-ng-controller='homeCommunityActivityController'>
				      
				  <li data-ng-repeat="value in communityActivities">
						<div class="itemTitle">
							<div ng-class="(!value.urlProfilePicture) ? 'listUserIco ico-user': 'listUserIcoNonBG'">
								<img ng-if="value.urlProfilePicture" style="position: relative;top: 50%;transform: translateY(-50%);" src='{{value.urlProfileMiniPicture}}' >
							</div>
							<div ng-if="(value.userAction.type =='REGISTER')">
								<span class="ico-white listActionIco actionRegister"></span>
								<a href="#">{{value.userName}}</a> 
								{{value.userAction.presentTense}} a new account
								<p class="itemDate">{{value.date}}</p>
							</div>
							<div ng-if="value.userAction.type =='BUY' || value.userAction.type =='SELL'">
								<span class="ico-white listActionIco" ng-class="(value.userAction.type =='BUY') ? 'ico-up-arrow actionBuy': 'ico-down-arrow actionSell'"></span>
								<a href="#">{{value.userName}}</a> 
								{{value.userAction.presentTense}} {{value.amount}} 
								<a href="#">{{value.valueShortId}}</a> at ${{value.price}}
								<p class="itemDate">{{value.date}}</p>
							</div>
						</div>
				  </li>
			</ul>
			
		</div>

	</div>

</div>
<!-- end: Row -->
   		
