<!-- start: Row -->
<div class="row" ng-controller="homeMainController">
	<div class="span12">
		<div class="hero-unit hidden-phone">
			<p translate="screen.home.hero">Welcome to CloudStreet Market, the educational platform.</p>
		</div>
	</div>
	<div class="span5">

		<div id="landingGraphContainerAndTools">
				<div class="center_chart">
					<img id="homeChart"/>
				</div>
				<div ng-controller="homeFinancialGraphController">
					<select class="form-control centeredElementBox">
					    <option ng-repeat="value in indicesForGraph"
					    		ng-selected="{{value.id == currentIndex}}"
					            value="{{value.id}}">
					      {{value.name}}
					    </option>
					</select>
				</div>

				<div id='tableMarketPrices'>		
					<div>
						<table class="table table-hover table-condensed table-bordered table-striped" ng-controller="homeFinancialTableController">
							<thead>
								<tr>
									<th translate="screen.home.table.market.price.index">Index</th>
									<th translate="screen.home.table.market.price.value">Value</th>
									<th translate="screen.home.table.market.price.change">Change</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="value in indicesForTable">
									<td><a href="/portal/index-{{value.id}}"><b>{{value.name}}</b></a></td>
									<td style="text-align:right">{{value.dailyLatestValue}}</td>
									<td class='{{value.style}}' style="text-align:right"><strong>{{value.dailyLatestChangePercent}}%</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
		</div>
	</div>
	<div class="span7">

		<div id="divRss3">
			<ul class="feedEkList" data-ng-controller='homeCommunityActivityController'>
				      
				  <li data-ng-repeat="value in communityActivities">
						<div class="itemTitle">
							<div ng-class="(!value.urlProfilePicture) ? 'listUserIco ico-user': 'listUserIcoNonBG'">
								<img ng-if="value.urlProfilePicture" style="position: relative;top: 50%;transform: translateY(-50%);" src='{{value.urlProfileMiniPicture}}' >
							</div>
							<div ng-if="(value.userAction.type =='REGISTER')">
								<span class="ico-white listActionIco actionRegister"></span>
								<a href="#">{{value.userName}}</a> 
								{{value.userAction.presentTense | translate}} <span translate="screen.home.feed.action.a.new.account">a new account</span>
								<p class="itemDate">{{value.date}}</p>
							</div>
							<div ng-if="value.userAction.type =='BUY' || value.userAction.type =='SELL'">
								<span class="ico-white listActionIco" ng-class="(value.userAction.type =='BUY') ? 'ico-up-arrow actionBuy': 'ico-down-arrow actionSell'"></span>
								<a href="#">{{value.userName}}</a> 
								{{value.userAction.presentTense | translate}} {{value.amount}} 
								<a href="/portal/stock-{{value.valueShortId}}">{{value.valueShortId}}</a> <span translate="screen.home.feed.action.at">at</span> {{value.currency}} {{value.price}}
								<p class="itemDate">{{value.date}}</p>
							</div>
						</div>
				  </li>
			</ul>
			
		</div>

	</div>

</div>
<!-- end: Row -->
   		
