<!-- start: Row -->
<div class="mainController row">

	<div class="span12">
		<ol class="breadcrumb">
		  <li><a href="/portal/index">Home</a></li>
		  <li>> Stock: {{stock.name}}</li>
		</ol>
	</div>

	<div class="span10">

		<div class="alert" ng-class="(transactionSuccess) ?  'alert-success' : 'alert-danger'" ng-if="transactionComplete">
			<div ng-if="transactionSuccess">
				 <strong translate>screen.stock.detail.transaction.congratulations</strong> <br/><span translate>screen.stock.detail.transaction.you.have</span> {{data.type.type == 'BUY' ? 'screen.stock.detail.transaction.bought' : 'screen.stock.detail.transaction.sold' | translate}} {{data.quantity}} {{stock.id}} {{data.type.type == 'BUY' ? 'screen.stock.detail.transaction.at' : 'screen.stock.detail.transaction.for' | translate}} {{data.type == 'BUY' ? quote.ask : quote.bid | currency:stock.currency+" "| uppercase}} &nbsp;&nbsp;<a href="/portal/wallet" translate>screen.stock.detail.transaction.see.your.wallet</a>
			</div>
			<div ng-if="!transactionSuccess && serverErrorMessage">
				 <strong>{{serverErrorMessage}}</strong>
			</div>
	    </div>
	
		<div class="title"><h3>{{stock.name}} ( {{stock.id}} )</h3></div>
		
			<div class="span4" style="margin-right:-5px;">
				<h1>
					<li ng-show="stock.dailyLatestChange != 0" ng-class="stock.dailyLatestChange > 0 ? 'ico-up-arrow' : 'ico-down-arrow'"></li>
					<span style="margin-left:-15px;">{{stock.dailyLatestValue | number }}</span> <span style="font-size: 30px;">{{stock.currency | uppercase}}</span>
				</h1>
				<div style="margin-top:-10px;" ng-if="stock.dailyLatestChange != 0">
					<h3 ng-class="stock.dailyLatestChange >= 0 ? 'text-success' : 'text-error'">{{stock.dailyLatestChange > 0 ? '+' : ''}}{{stock.dailyLatestChange | number}} {{stock.currency | uppercase}} ({{stock.dailyLatestChange > 0 ? '+' : ''}}{{stock.dailyLatestChangePercent}}%)</h3>
				</div>
			</div>
			<div style="margin-top:10px;margin-bottom:30px;" class="span5">
				<img id="detailChart"/>
			</div>

			<div class="calendarNav tab-pane fade in active" >
				<div class="span4">
					<div ng-show="industry" style="margin-bottom:5px"><span translate="screen.stock.detail.industry">Industry</span>:   <i>{{industry.label}}</i></div>
					
					<table ng-show="quote.bid" class="table table-condensed table-striped table-bordered" >
						<tr>
							<td><span translate="screen.stock.detail.bid">Bid</span>:</td>
							<td><span class="label label-success">{{quote.bid | number:2}}</span></td>
							<td><span translate="screen.stock.detail.ask">Ask</span>:</td>
							<td><span class="label label-danger">{{quote.ask | number:2}}</span></td>
						</tr>
					</table>
					
					<table ng-show="stock.open" class="table table-condensed table-striped" >
						<tr>
							<td><span translate="screen.stock.detail.prev.close">Prev. Close</span>:</td>
							<td><strong>{{stock.previousClose | number}}</strong></td>
							<td><span translate="screen.stock.detail.open">Open</span>:</td>
							<td><strong>{{stock.open | number}}</strong></td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.high">High</span>:</td>
							<td><strong>{{stock.high | number}}</strong></td>
							<td><span translate="screen.stock.detail.low">Low</span>:</td>
							<td><strong>{{stock.low | number}}</strong></td>
						</tr>
						<tr>
							<td><span ng-show="exchange" translate="screen.stock.detail.exchange">Exchange</span>:</td>
							<td><span ng-show="exchange"><strong>{{exchange.name}}</strong> ({{exchange.id}})</span></td>
							<td><span translate="screen.stock.detail.currency">Currency</span>:</td>
							<td><span><strong>{{stock.currency | uppercase}}</strong></span></td>
						</tr>
					</table>
				</div>
			</div>
			<div  class="span5 ">
			
				<table class="table table-condensed table-striped" >
					<tr>
						<td style="width:20%;vertical-align: middle"><span translate="screen.stock.detail.actions">Actions</span>:</td>
						
						<td style="width:40%">
							<button type="button" ng-if="user.balance >= currencyExchange*quote.ask" class="btn btn-success" href="#" ng-click="buyButton(buy)" ng-disabled="buy || transactionComplete" ng-class="(buy || transactionComplete) ? 'disabled': ''"><i class="mini-ico-plus-sign mini-white"></i> <span translate="screen.stock.detail.buy">Buy</span></button>	
						</td>
						<td style="width:40%">
							<button type="button" ng-if="totalOwned > 0" class="btn btn-danger" href="#" ng-click="sellButton(sell)" ng-disabled="sell || transactionComplete" ng-class="(sell || transactionComplete) ? 'disabled': ''"><i class="mini-ico-minus-sign mini-white"></i> <span translate="screen.stock.detail.sell">Sell</span></button>
						</td>
					</tr>
				</table>

				<div ng-show="sell && !transactionComplete">
				
					<div style="background-color: #efefef">
					<table ng-show="user.balance && totalOwned > 0" class="table table-condensed table-striped table-bordered" >
						<tr>
							<td style="width:30%;vertical-align: middle"><strong><span translate="screen.stock.detail.quantity">Quantity</span>:</strong></td>
							<td style="width:45%;"">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-small btn-danger btn-number" ng-disabled="quantity <= minQuantity" ng-class="(quantity <= minQuantity) ? 'disabled': ''" ng-click="quantity = parseInt(quantity) - 1">
						                <span class="mini-ico-arrow-down mini-white"></span>
						              </button>
						          </span>
						          <input type="number" ng-blur="assertAbsoluteValue()" style="margin-top:10px;width:40%;" name="inputFieldCount" ng-model="quantity" ng-value="quantity">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-small btn-success btn-number" ng-disabled="quantity >= totalOwned" ng-class="(quantity >= totalOwned) ? 'disabled': ''" ng-click="quantity = parseInt(quantity) + 1">
						                  <span class="mini-ico-arrow-up mini-white"></span>
						              </button>
						          </span>
							</td>
							<td style="width:25%;">
								<button type="button" class="close" aria-hidden="true" ng-click="cancel()"><span class="ico-circle-remove"></span></button>
							</td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.current.balance">Current balance</span>:</td>
							<td>{{user.balance | currency:user.currency+" " | uppercase}}</td>
							<td style="width:35%">&nbsp;</td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.will.be.sold">Will be sold</span>:</td>
							<td ng-if="quantity && quantity <= maxQuantity"><strong>{{currencyExchange*quantity*quote.bid | currency:user.currency+" "| uppercase}}</strong></td>
							<td ng-if="!quantity || quantity > maxQuantity">-</td>
							<td><span ng-if="(user.currency != stock.currency) && quantity && quantity < maxQuantity">({{quantity*quote.bid | currency:stock.currency+" "| uppercase}})</span></td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.next.balance">Next balance</span>:</td>
							<td ng-if="quantity && quantity <= maxQuantity">{{(user.balance + currencyExchange*quantity*quote.bid) | currency:user.currency+" "| uppercase}}</td>
							<td ng-if="!quantity || quantity > maxQuantity">-</td>
							<td></td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.will.remain">Will remain</span>:</td>
							<td>{{totalOwned - quantity}}</td>
							<td></td>
						</tr>
					</table>
					</div>

	              	<button type="button" class="btn btn-danger btn-large" ng-disabled="!quantity || quantity > totalOwned" ng-class="(!quantity || quantity > totalOwned) ? 'disabled': ''" ng-click="createTransaction(quantity, 'SELL')">
	                	<span class="mini-ico-shopping-cart mini-white"></span>  <span translate="screen.stock.detail.sell">Sell</span> {{quantity}}
	              	</button>
	              	
				</div>
				
				<div ng-if="buy && !transactionComplete" style="margin-top:10px;">
					
					<div style="background-color: #efefef">
					<table ng-show="user.balance" class="table table-condensed table-striped table-bordered" >
						<tr>
							<td style="width:30%;vertical-align: middle"><strong><span translate="screen.stock.detail.quantity">Quantity</span>:</strong></td>
							<td style="width:45%;"">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-small btn-danger btn-number" ng-disabled="quantity <= minQuantity" ng-class="(quantity <= minQuantity) ? 'disabled': ''" ng-click="quantity = parseInt(quantity) - 1">
						                <span class="mini-ico-arrow-down mini-white"></span>
						              </button>
						          </span>
						          <input type="number" ng-blur="assertAbsoluteValue()" style="margin-top:10px;width:40%;" name="inputFieldCount" ng-model="quantity" ng-value="quantity">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-small btn-success btn-number" ng-disabled="quantity >= maxQuantity" ng-class="(quantity >= maxQuantity) ? 'disabled': ''" ng-click="quantity = parseInt(quantity) + 1">
						                  <span class="mini-ico-arrow-up mini-white"></span>
						              </button>
						          </span>
							</td>
							<td style="width:25%;">
								<button type="button" class="close" aria-hidden="true" ng-click="cancel()"><span class="ico-circle-remove"></span></button>
							</td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.current.balance">Current balance</span>:</td>
							<td>{{user.balance | currency:user.currency+" " | uppercase}}</td>
							<td style="width:35%">&nbsp;</td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.to.be.paid">To be paid</span>:</td>
							<td ng-if="quantity && quantity <= maxQuantity"><strong>{{currencyExchange*quantity*quote.ask | currency:user.currency+" "| uppercase}}</strong></td>
							<td ng-if="!quantity || quantity > maxQuantity">-</td>
							<td><span ng-if="(user.currency != stock.currency) && quantity && quantity < maxQuantity">({{quantity*quote.ask | currency:stock.currency+" "| uppercase}})</span></td>
						</tr>
						<tr>
							<td><span translate="screen.stock.detail.next.balance">Next balance</span>:</td>
							<td ng-if="quantity && quantity <= maxQuantity">{{(user.balance - currencyExchange*quantity*quote.ask) | currency:user.currency+" "| uppercase}}</td>
							<td ng-if="!quantity || quantity > maxQuantity">-</td>
							<td></td>
						</tr>
					</table>
					</div>

	              	<button type="button" class="btn btn-success btn-large" ng-disabled="!quantity || quantity > maxQuantity" ng-class="(!quantity || quantity > maxQuantity) ? 'disabled': ''" ng-click="createTransaction(quantity, 'BUY')">
	                	<span class="mini-ico-shopping-cart mini-white"></span>  
	                	<span ng-if="quantity && quantity <= maxQuantity">{{currencyExchange*quantity*quote.ask | currency:user.currency+" "| uppercase}}</span>
	                	<span ng-if="!quantity || quantity > maxQuantity">{{0 | currency:stock.currency+" "| uppercase}}</span>
	              	</button>
	              	
				</div>
			</div>
	</div>
		
	<div class="span3">
	
	</div>
	
</div>
<!-- end: Row -->